--pre torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/nightly/cpu # Apple Silicon needs the nightly build of Pytorch
accelerate==1.1.0
bitsandbytes==0.42.0
ExifRead==3.0.0
imagesize==1.4.1
pillow==11.0.0
pyparsing==3.2.0
PySide6==6.8.1
transformers
numpy==2.2.3

# CogAgent
timm==1.0.12

# CogVLM
einops==0.8.0
protobuf==5.29.3
sentencepiece==0.2.0
# xformers is build to accelerate image generation on NVIDIA GPUs, so it's not compatible with Mac OS

# InternLM-XComposer2
# gptmodel is build for CUDA so, not compatible with Mac OS

# WD Tagger
huggingface-hub==0.26.5
onnx==1.17.0
onnxruntime==1.20.1